*{
    padding: 0px;
    margin: 0px;
}

body{
    height: 100%;
    overflow: hidden;
}

.buttons{
    width: 165px;
    height: 70px;
    flex-shrink: 0;
    border-radius: 5px;
    background: rgba(44, 44, 44, 0.53);
    color: #FFFFFF; /* Remove Later */
    font-family: Inter;
    font-size: 16px;
    text-decoration: underline;
    font-weight: 400;
    position: fixed;
    bottom: 10px;
}

#A{
    left: 10px;
}

#B{
    left: 200px;
}

#C{
    left: 390px;
}